@tailwind base;
@tailwind components;
@tailwind utilities;

/* make number input element look like a text field */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* This CSS hides everything in the body during printing, except for the table and its children. It also ensures the print button is not visible in the print preview */
@media print {
  body * {
    visibility: hidden;
  }
  .table,
  .table * {
    visibility: visible;
  }
  .table {
    position: absolute;
    left: 0;
    top: 0;
  }
  .print-button {
    display: none;
  }
}

/* This CSS is used to style the date input field */
.date-input::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

/* This CSS is used to disable scrolling when modals are open */
.no-scroll {
  overflow: hidden;
}
